nav {
  background-color: chocolate;
  padding-inline-start: 0;
  margin-block: 0em;
  ul {
    display: flex;
    list-style: none;
    li {
      &:not(:hover) ul.sub-menu {
        display: none;
      }
      a {
        display: flex;
        background-color: pink;
        color: black;
        text-decoration: none;
        padding: 1rem;
        cursor: pointer;
        &:hover {
          background-color: darken(pink, 20%);
        }
      }
      ul.sub-menu {
        li {
          a {
            background-color: aqua;
          }
        }
      }
    }
  }
}
