/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  /* font-weight: normal; */
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}
*::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
  clip-path: inset(1px 1px);
}

iframe {
  border: 0;
}

/* table {
  border-collapse: collapse;
  border-spacing: 0;
} */
td,
th {
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}
html body {
  font-size: 1em;
  height: 100%;
  scroll-behavior: smooth;
  background: #ededed;
  font-family: Roboto;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

main {
  flex-grow: 1;
}

main#posts-index .page-heading h2.post-title,
main#category-index .page-heading h2.post-title,
main#search-index .page-heading h2.post-title {
  font-size: 2.5rem;
  color: darkgoldenrod;
}
main#posts-index .page-heading p,
main#category-index .page-heading p,
main#search-index .page-heading p {
  margin: 1rem 0;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("/customstyles/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
.grid {
  display: grid; /* COLS */
  /*  SMALL START */
  /* SMALL END */
  /*  MEDIUM START */
  /* MEDIUM END */
  /*  LARGE START */
  /* LARGE END */
  /*  EXTRA LARGE START */
  /* EXTRA LARGE END */
}
.grid.cols-1 {
  grid-template-columns: repeat(1, 1fr);
}
.grid.cols-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid.cols-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid.cols-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid.cols-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid.cols-6 {
  grid-template-columns: repeat(6, 1fr);
}
.grid.cols-7 {
  grid-template-columns: repeat(7, 1fr);
}
.grid.cols-8 {
  grid-template-columns: repeat(8, 1fr);
}
.grid.cols-9 {
  grid-template-columns: repeat(9, 1fr);
}
.grid.cols-10 {
  grid-template-columns: repeat(10, 1fr);
}
.grid.cols-11 {
  grid-template-columns: repeat(11, 1fr);
}
.grid.cols-12 {
  grid-template-columns: repeat(12, 1fr);
}
.grid.gap-1 {
  gap: 1rem;
}
.grid.gap-2 {
  gap: 2rem;
}
.grid.gap-3 {
  gap: 3rem;
}
.grid.gap-4 {
  gap: 4rem;
}
.grid .col-span-1 {
  grid-column: span 1/span 1;
}
.grid .col-span-2 {
  grid-column: span 2/span 2;
}
.grid .col-span-3 {
  grid-column: span 3/span 3;
}
.grid .col-span-4 {
  grid-column: span 4/span 4;
}
.grid .col-span-5 {
  grid-column: span 5/span 5;
}
.grid .col-span-6 {
  grid-column: span 6/span 6;
}
.grid .col-span-7 {
  grid-column: span 7/span 7;
}
.grid .col-span-8 {
  grid-column: span 8/span 8;
}
.grid .col-span-9 {
  grid-column: span 9/span 9;
}
.grid .col-span-10 {
  grid-column: span 10/span 10;
}
.grid .col-span-11 {
  grid-column: span 11/span 11;
}
.grid .col-span-12 {
  grid-column: span 12/span 12;
}
@media (min-width: 576px) {
  .grid {
    /* COLS */
    /* COL-GAP */
    /* COL-SPAN */
  }
  .grid.sm\:cols-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid.sm\:cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid.sm\:cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid.sm\:cols-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid.sm\:cols-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid.sm\:cols-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid.sm\:cols-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .grid.sm\:cols-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.sm\:cols-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .grid.sm\:cols-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .grid.sm\:cols-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .grid.sm\:cols-12 {
    grid-template-columns: repeat(12, 1fr);
  }
  .grid.sm\:gap-1 {
    gap: 1rem;
  }
  .grid.sm\:gap-2 {
    gap: 2rem;
  }
  .grid.sm\:gap-3 {
    gap: 3rem;
  }
  .grid.sm\:gap-4 {
    gap: 4rem;
  }
  .grid .sm\:col-span-1 {
    grid-column: span 1/span 1;
  }
  .grid .sm\:col-span-2 {
    grid-column: span 2/span 2;
  }
  .grid .sm\:col-span-3 {
    grid-column: span 3/span 3;
  }
  .grid .sm\:col-span-4 {
    grid-column: span 4/span 4;
  }
  .grid .sm\:col-span-5 {
    grid-column: span 5/span 5;
  }
  .grid .sm\:col-span-6 {
    grid-column: span 6/span 6;
  }
  .grid .sm\:col-span-7 {
    grid-column: span 7/span 7;
  }
  .grid .sm\:col-span-8 {
    grid-column: span 8/span 8;
  }
  .grid .sm\:col-span-9 {
    grid-column: span 9/span 9;
  }
  .grid .sm\:col-span-10 {
    grid-column: span 10/span 10;
  }
  .grid .sm\:col-span-11 {
    grid-column: span 11/span 11;
  }
  .grid .sm\:col-span-12 {
    grid-column: span 12/span 12;
  }
}
@media (min-width: 768px) {
  .grid {
    /* COLS */
    /* COL-GAP */
    /* COL-SPAN */
  }
  .grid.md\:cols-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid.md\:cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid.md\:cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid.md\:cols-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid.md\:cols-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid.md\:cols-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid.md\:cols-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .grid.md\:cols-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.md\:cols-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .grid.md\:cols-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .grid.md\:cols-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .grid.md\:cols-12 {
    grid-template-columns: repeat(12, 1fr);
  }
  .grid.md\:gap-1 {
    gap: 1rem;
  }
  .grid.md\:gap-2 {
    gap: 2rem;
  }
  .grid.md\:gap-3 {
    gap: 3rem;
  }
  .grid.md\:gap-4 {
    gap: 4rem;
  }
  .grid .md\:col-span-1 {
    grid-column: span 1/span 1;
  }
  .grid .md\:col-span-2 {
    grid-column: span 2/span 2;
  }
  .grid .md\:col-span-3 {
    grid-column: span 3/span 3;
  }
  .grid .md\:col-span-4 {
    grid-column: span 4/span 4;
  }
  .grid .md\:col-span-5 {
    grid-column: span 5/span 5;
  }
  .grid .md\:col-span-6 {
    grid-column: span 6/span 6;
  }
  .grid .md\:col-span-7 {
    grid-column: span 7/span 7;
  }
  .grid .md\:col-span-8 {
    grid-column: span 8/span 8;
  }
  .grid .md\:col-span-9 {
    grid-column: span 9/span 9;
  }
  .grid .md\:col-span-10 {
    grid-column: span 10/span 10;
  }
  .grid .md\:col-span-11 {
    grid-column: span 11/span 11;
  }
  .grid .md\:col-span-12 {
    grid-column: span 12/span 12;
  }
}
@media (min-width: 1024px) {
  .grid {
    /* COLS */
    /* COL-GAP */
    /* COL-SPAN */
  }
  .grid.lg\:cols-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid.lg\:cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid.lg\:cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid.lg\:cols-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid.lg\:cols-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid.lg\:cols-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid.lg\:cols-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .grid.lg\:cols-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.lg\:cols-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .grid.lg\:cols-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .grid.lg\:cols-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .grid.lg\:cols-12 {
    grid-template-columns: repeat(12, 1fr);
  }
  .grid.lg\:gap-1 {
    gap: 1rem;
  }
  .grid.lg\:gap-2 {
    gap: 2rem;
  }
  .grid.lg\:gap-3 {
    gap: 3rem;
  }
  .grid.lg\:gap-4 {
    gap: 4rem;
  }
  .grid .lg\:col-span-1 {
    grid-column: span 1/span 1;
  }
  .grid .lg\:col-span-2 {
    grid-column: span 2/span 2;
  }
  .grid .lg\:col-span-3 {
    grid-column: span 3/span 3;
  }
  .grid .lg\:col-span-4 {
    grid-column: span 4/span 4;
  }
  .grid .lg\:col-span-5 {
    grid-column: span 5/span 5;
  }
  .grid .lg\:col-span-6 {
    grid-column: span 6/span 6;
  }
  .grid .lg\:col-span-7 {
    grid-column: span 7/span 7;
  }
  .grid .lg\:col-span-8 {
    grid-column: span 8/span 8;
  }
  .grid .lg\:col-span-9 {
    grid-column: span 9/span 9;
  }
  .grid .lg\:col-span-10 {
    grid-column: span 10/span 10;
  }
  .grid .lg\:col-span-11 {
    grid-column: span 11/span 11;
  }
  .grid .lg\:col-span-12 {
    grid-column: span 12/span 12;
  }
}
@media (min-width: 1440px) {
  .grid {
    /* COLS */
    /* COL-GAP */
    /* COL-SPAN */
  }
  .grid.xl\:cols-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid.xl\:cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid.xl\:cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid.xl\:cols-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid.xl\:cols-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid.xl\:cols-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid.xl\:cols-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .grid.xl\:cols-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.xl\:cols-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .grid.xl\:cols-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .grid.xl\:cols-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .grid.xl\:cols-12 {
    grid-template-columns: repeat(12, 1fr);
  }
  .grid.xl\:gap-1 {
    gap: 1rem;
  }
  .grid.xl\:gap-2 {
    gap: 2rem;
  }
  .grid.xl\:gap-3 {
    gap: 3rem;
  }
  .grid.xl\:gap-4 {
    gap: 4rem;
  }
  .grid .xl\:col-span-1 {
    grid-column: span 1/span 1;
  }
  .grid .xl\:col-span-2 {
    grid-column: span 2/span 2;
  }
  .grid .xl\:col-span-3 {
    grid-column: span 3/span 3;
  }
  .grid .xl\:col-span-4 {
    grid-column: span 4/span 4;
  }
  .grid .xl\:col-span-5 {
    grid-column: span 5/span 5;
  }
  .grid .xl\:col-span-6 {
    grid-column: span 6/span 6;
  }
  .grid .xl\:col-span-7 {
    grid-column: span 7/span 7;
  }
  .grid .xl\:col-span-8 {
    grid-column: span 8/span 8;
  }
  .grid .xl\:col-span-9 {
    grid-column: span 9/span 9;
  }
  .grid .xl\:col-span-10 {
    grid-column: span 10/span 10;
  }
  .grid .xl\:col-span-11 {
    grid-column: span 11/span 11;
  }
  .grid .xl\:col-span-12 {
    grid-column: span 12/span 12;
  }
}

.flex {
  display: flex;
  /*  SMALL START */
  /*  SMALL END */
  /*  MEDIUM START */
  /*  MEDIUM END */
}
.flex.flex-row {
  flex-direction: row;
}
.flex.flex-col {
  flex-direction: row-reverse;
}
.flex.flex-col-rev {
  flex-direction: column-reverse;
}
.flex.flex-row-rev {
  flex-direction: row-reverse;
}
.flex.justify-between {
  justify-content: space-between;
}
.flex.justify-end {
  justify-content: flex-end;
}
.flex.justify-center {
  justify-content: center;
}
.flex.justify-start {
  justify-content: flex-start;
}
.flex.justify-around {
  justify-content: space-around;
}
.flex.justify-evenly {
  justify-content: space-evenly;
}
.flex.flex-wrap {
  flex-wrap: wrap;
}
.flex.flex-no-wrap {
  flex-wrap: nowrap;
}
.flex.align-center {
  align-items: center;
}
.flex.align-start {
  align-items: flex-start;
}
.flex.align-end {
  align-items: flex-end;
}
.flex.align-stretch {
  align-items: flex-stretch;
}
.flex.align-baseline {
  align-items: flex-baseline;
}
@media (min-width: 576px) {
  .flex.sm\:flex-row {
    flex-direction: row;
  }
  .flex.sm\:flex-col {
    flex-direction: row-reverse;
  }
  .flex.sm\:flex-col-rev {
    flex-direction: column-reverse;
  }
  .flex.sm\:flex-row-rev {
    flex-direction: row-reverse;
  }
  .flex.sm\:justify-between {
    justify-content: space-between;
  }
  .flex.sm\:justify-end {
    justify-content: flex-end;
  }
  .flex.sm\:justify-center {
    justify-content: center;
  }
  .flex.sm\:justify-start {
    justify-content: flex-start;
  }
  .flex.sm\:justify-around {
    justify-content: space-around;
  }
  .flex.sm\:justify-evenly {
    justify-content: space-evenly;
  }
  .flex.sm\:flex-wrap {
    flex-wrap: wrap;
  }
  .flex.sm\:flex-no-wrap {
    flex-wrap: nowrap;
  }
  .flex.sm\:align-center {
    align-items: center;
  }
  .flex.sm\:align-start {
    align-items: flex-start;
  }
  .flex.sm\:align-end {
    align-items: flex-end;
  }
  .flex.sm\:align-stretch {
    align-items: flex-stretch;
  }
  .flex.sm\:align-baseline {
    align-items: flex-baseline;
  }
}
@media (min-width: 768px) {
  .flex.md\:flex-row {
    flex-direction: row;
  }
  .flex.md\:flex-col {
    flex-direction: row-reverse;
  }
  .flex.md\:flex-col-rev {
    flex-direction: column-reverse;
  }
  .flex.md\:flex-row-rev {
    flex-direction: row-reverse;
  }
  .flex.md\:justify-between {
    justify-content: space-between;
  }
  .flex.md\:justify-end {
    justify-content: flex-end;
  }
  .flex.md\:justify-center {
    justify-content: center;
  }
  .flex.md\:justify-start {
    justify-content: flex-start;
  }
  .flex.md\:justify-around {
    justify-content: space-around;
  }
  .flex.md\:justify-evenly {
    justify-content: space-evenly;
  }
  .flex.md\:flex-wrap {
    flex-wrap: wrap;
  }
  .flex.md\:flex-no-wrap {
    flex-wrap: nowrap;
  }
  .flex.md\:align-center {
    align-items: center;
  }
  .flex.md\:align-start {
    align-items: flex-start;
  }
  .flex.md\:align-end {
    align-items: flex-end;
  }
  .flex.md\:align-stretch {
    align-items: flex-stretch;
  }
  .flex.md\:align-baseline {
    align-items: flex-baseline;
  }
}

header#app-header {
  background-color: #7c7c7c;
  padding: 10px 0;
}
header#app-header div#logo {
  display: flex;
  justify-content: space-between;
  background-color: lawngreen;
  font-size: 0;
}

form.search-form {
  display: flex;
  margin-top: 1rem;
}

input[type~=search] {
  background-color: pink;
  border: 0;
  line-height: 3rem;
  width: 400px;
  padding: 0;
  font-size: 1rem;
  border: 3px solid black;
  text-indent: 1rem;
}

button.search-submit {
  background-color: red;
  cursor: pointer;
  border: 0;
}

.featured-image {
  background-color: green;
  height: 160px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
}
.featured-image a {
  color: white;
}

.hamburger {
  display: flex;
  align-items: center;
  /* hamburger */
}
.hamburger button {
  width: 48px;
  height: 48px;
  cursor: pointer;
}
@media (min-width: 576px) {
  .hamburger {
    display: none;
  }
}

nav#nav-top {
  background-color: chocolate;
  display: flex;
  justify-content: flex-end;
}
nav#nav-top .nav-menu-links {
  display: none;
  width: 100%;
}
nav#nav-top .nav-menu-links.open {
  display: block;
}
@media (min-width: 576px) {
  nav#nav-top .nav-menu-links {
    display: flex;
    align-items: center;
  }
}
nav#nav-top .nav-menu-links ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  list-style: none;
  width: 100%;
}
@media (min-width: 576px) {
  nav#nav-top .nav-menu-links ul {
    flex-direction: row;
  }
}
nav#nav-top .nav-menu-links ul li:not(:hover) ul.sub-menu {
  display: none;
}
nav#nav-top .nav-menu-links ul li a {
  display: flex;
  background-color: pink;
  color: black;
  text-decoration: none;
  padding: 1rem;
  cursor: pointer;
}
nav#nav-top .nav-menu-links ul li a:hover {
  background-color: #ff5a77;
}
nav#nav-top .nav-menu-links ul li a:active {
  background-color: yellow;
}
nav#nav-top .nav-menu-links ul li ul.sub-menu {
  background-color: green;
  /* position: absolute; */
  display: flex;
  flex-direction: column;
}
@media (min-width: 576px) {
  nav#nav-top .nav-menu-links ul li ul.sub-menu {
    width: auto;
    position: absolute;
  }
}
nav#nav-top .nav-menu-links ul li ul.sub-menu li a {
  background-color: aqua;
}
nav#nav-top .nav-menu-links ul li ul.sub-menu li a:hover {
  background-color: #00b3b3;
}

nav.navigation {
  background-color: cornflowerblue;
}
nav.navigation .nav-links {
  display: flex;
  justify-content: flex-end;
}
nav.navigation .nav-links a {
  background-color: red;
  padding: 0.5rem;
  display: flex;
}
nav.navigation .nav-links a:hover {
  background-color: #cc0000;
  color: white;
}

section#front-page .page-content {
  background-color: #ff98a9;
}

main#page-content {
  background-color: lightblue;
}

.side-bar {
  background-color: lightblue;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
}

article {
  background-color: lightblue;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
}
article .post-article--title {
  background-color: red;
  font-size: 1.5rem;
  padding: 0.5rem 0;
}
article .post-article--title a {
  text-decoration: none;
}
article .post-article--title a:hover {
  text-decoration: underline;
}
article .post-article--meta {
  background-color: pink;
  padding: 0.5rem 0;
  font-size: 0.8rem;
}
article .post-article--meta a {
  text-decoration: none;
}
article .post-article--meta a:hover {
  text-decoration: underline;
}
article .post-article--summary {
  background-color: lightcoral;
  padding: 0.5rem 0;
}
article .post-article--content {
  background-color: #e9a0a0;
  padding: 0.5rem 0;
}

footer {
  background-color: yellow;
}

/*# sourceMappingURL=custom.css.map */
