.featured-image {
  background-color: green;
  height: 160px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  a {
    color: white;
  }
}
