.hamburger {
  display: flex;
  align-items: center;
  button {
    width: 48px;
    height: 48px;
  }
  /* hamburger */
  @media (min-width: 576px) {
    display: none;
  }
}
nav {
  background-color: chocolate;
  display: flex;
  justify-content: flex-end;
  .nav-menu-links {
    display: none;
    width: 100%;
    &.open {
      display: block;
    }
    @media (min-width: 576px) {
      display: flex;
      align-items: center;
    }
    ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      list-style: none;
      width: 100%;
      @media (min-width: 576px) {
        flex-direction: row;
      }
      li {
        &:not(:hover) ul.sub-menu {
          display: none;
        }
        a {
          display: flex;
          background-color: pink;
          color: black;
          text-decoration: none;
          padding: 1rem;
          cursor: pointer;
          &:hover {
            background-color: darken(pink, 20%);
          }
        }
        ul.sub-menu {
          background-color: green;
          /* position: absolute; */
          display: flex;
          flex-direction: column;
          @media (min-width: 576px) {
            width: auto;
            position: absolute;
          }
          li {
            a {
              background-color: aqua;
              &:hover {
                background-color: darken(aqua, 15%);
              }
            }
          }
        }
      }
    }
  }
}
